.address__item {
  margin-bottom: 9px;
}

.address {
  margin-top: 20px;
}

.address__link {
  display: block;
  line-height: 1.7;
  color: $secondary-color;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.address__item:last-child {
  margin-bottom: 0;
}
