body {
  color: $primary-shade-color;
  font-family: Roboto, sans-serif;
  margin: 0;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
}

.btn {
  cursor: pointer;
}

.address {
  font-style: normal;
}

.section {
  padding: 94px 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.main-title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  font-weight: 700;
  text-align: center;
}

.label {
  position: relative;
  margin-bottom: 4px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $first-text-color;
}

button {
  border-width: 0;
}
