.contacts-list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: $desktop) {
    flex-direction: row;
  }
}

.contacts-list__link--large-size {
  font-size: 34px;
  @media screen and (max-width: 479px) {
    font-size: 27px;
  }
}

.contacts-list__link--accent-color {
  color: $accent-color;
}

.contacts-list__link--medium-size {
  font-size: 24px;
}

.contacts-list--mobile-menu {
  margin-top: auto;
  margin-bottom: 64px;
}

.header__contacts {
  margin-left: auto;
}

.contacts-list__item:not(:last-child) {
  margin-bottom: 32px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.contacts-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: $first-text-color;
  transition-property: color;
  @include main-animation();
  &:hover,
  &:focus {
    color: $accent-color;
  }
  @media screen and (min-width: $tablet) {
    font-size: 12px;
    line-height: 1.17;
  }
  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.1;
  }
}

.contacts-list__link--center {
  display: flex;
  align-items: center;
}

.contacts-list__link--large-size {
  font-size: 34px;
  @media screen and (max-width: 479px) {
    font-size: 27px;
  }
}

.contacts-list__link--accent-color {
  color: $accent-color;
}

.contacts-list__link--medium-size {
  font-size: 24px;
}

.contacts-list__link--secondary {
  display: block;
  letter-spacing: 0.03em;
  color: rgba($secondary-color, 0.6);
  line-height: 1.7;
}

.contacts-list__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts-list__icon--envelope {
  @media screen and (min-width: $tablet) {
    width: 14px;
    height: 10px;
  }
}

.contacts-list__icon--smartphone {
  @media screen and (min-width: $tablet) {
    width: 10px;
    height: 14px;
  }
}
