.direction {
  padding-top: 47px;
}

.direction-list {
  display: flex;
}

.direction-list__thumb {
  position: relative;
}

.direction-list__item:not(:last-child) {
  margin-right: 30px;
}

.direction-list__explain-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $secondary-color;
}

.direction-list__explain {
  position: absolute;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  padding: 27px 0;
}
