.directions-list__explain-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $secondary-color;
}

.directions {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.directions-list {
  display: flex;
  margin: -15px;
}

.directions-list__thumb {
  position: relative;
}

.directions-list__item {
  margin: 15px;
}

.directions-list__explain {
  position: absolute;
  bottom: 0;
  background-color: rgba($secondary-background-color, 0.8);
  width: 100%;
  padding: 27px 0;
}
