.features {
  padding-bottom: 47px;
}

.features-list__item {
  width: 270px;
  display: inline-block;
}

.features-list__icon-field {
  display: flex;
  padding: 25px 0;
  background-color: $primary-background-color;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.features-list__item:not(:last-child) {
  margin-right: 30px;
}

.features-list {
  display: flex;
}

.features-list__item-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-list__item-text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: $first-text-color;
}
