.page-header__content {
  width: inherit;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header__content {
    display: none;
  }
}

.page-header {
  border-bottom: 1px solid $secondary-border-color;
  padding: 10px 0;
  @media screen and (min-width: 767px) {
    padding: 0;
  }
}

.header__container {
  position: relative;
  display: flex;
  align-items: center;
}
