.hero {
  padding: 118px 0;
  margin: 0 auto;
  @include bg-img("../images/mobile/hero-mob@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    @include bg-img("../images/mobile/hero-mob@2x.jpg");
  }
}

@media screen and (min-width: $tablet) {
  .hero {
    @include bg-img("../images/tablet/hero-tab@1x.jpg");
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      @include bg-img("../images/tablet/hero-tab@2x.jpg");
    }
  }
}

@media screen and (min-width: $desktop) {
  .hero {
    max-width: 1600px;
    padding: 200px 0;
    @include bg-img("../images/desktop/hero-desk@1x.jpg");
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      @include bg-img("../images/desktop/hero-desk@2x.jpg");
    }
  }
}

.hero__title {
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $secondary-color;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
