.social-list__item {
  @include size(44px, 44px);
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__link {
  @extend %flex-center;
  @include size(100%, 100%);
  border-radius: 50%;
  color: $secondary-accent-color;
  background-color: $secondary-color;
  transition-property: color, background-color;
  @include main-animation();
  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $secondary-color;
  }
}

.social-list__link--background {
  color: $secondary-color;
  background-color: rgba($secondary-color, 0.1);
}

.social-list__icon {
  fill: currentColor;
}

.social-text-links {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.social-text-links__item:not(:last-child) {
  border-right: 1px solid rgba($primary-shade-color, 0.2);
  @media screen and (max-width: 479px) {
    border-right: 0;
    padding-bottom: 10px;
  }
}

.social-text-links__item {
  padding: 0 10px;
}

.social-text-links__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $accent-color;
}
