.social-list__item {
  @include size(44px, 44px);
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-list {
  display: flex;
}

.social-list__link {
  @extend %flex-center;
  @include size(100%, 100%);
  border-radius: 50%;
  color: $secondary-accent-color;
  background-color: $secondary-color;
  transition-property: color, background-color;
  @include main-animation();
  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $secondary-color;
  }
}

.social-list__link--background {
  color: $secondary-color;
  background-color: rgba($secondary-color, 0.1);
}

.social-list__icon {
  fill: currentColor;
}
