.textarea-field__input {
  width: 100%;
  padding: 16px 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  resize: none;
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: border;
  @include main-animation();
  &::placeholder {
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    border: 1px solid $accent-color;
  }
  &:hover {
    cursor: pointer;
  }
}

.textarea-field {
  margin-bottom: 20px;
}
