$primary-shade-color: #212121;
$secondary-color: #ffffff;
$first-text-color: #757575;
$accent-color: #2196f3;
$secondary-accent-color: #afb1b8;
$secondary-background-color: #2f303a;
$primary-background-color: #f5f4fa;
$primary-color: #000000;
$border-color: #eeeeee;
$line-color: #ececec;
$primary-button-hover: #2196f3;
$second-text-color: rgba(255, 255, 255, 0.6);
$card-text-bgrd: rgba(47, 48, 58, 0.8);
$overlay-color: rgba(0, 0, 0, 0.2);
$overlay-card-color: rgba(33, 150, 243, 0.9);
